@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color: #eee;
  background: url("../../assets/bg-image.webp") center center/cover no-repeat;
}
* {
  box-sizing: border-box;
}

form {
  display: block;
  background-color: #f4a261;
  margin: 40px auto;
  max-width: 700px;
  max-height: 900px;
  padding: 20px 40px;
  border-radius: 8px;
}

form input,
textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px auto;
  padding: 8px auto;
  font-family: "Poppins";
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}

form h1 {
  text-align: center;
}

form span {
  color: rgb(65, 185, 225);
}

form button {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border: none;
  align-items: center;
  padding: 10px auto;
  border-radius: 8px;
}

button:hover {
  background-color: rgb(65, 185, 225);
  color: white;
}

.Donate-Page::before {
  content: "";
  position: absolute;
}
