.hero {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  height: 100vh; /* Set the height to cover the entire viewport */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../assets/morteza_lightskin.png") center center/cover
    no-repeat;
  filter: blur(4px); /* Apply the blur effect to the background image */
  z-index: -1;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; /* Place the content above the blurred background */
}

.hero-content h1 {
  font-family: var(--font-family3);
  font-weight: 800;
  font-size: 110px;
  line-height: 100px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  /* animation: glow 0.5s infinite alternate; */
  padding-bottom: 2rem;
}

.hero-content p {
  font-family: var(--font-family2);
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--color-text);
  margin-top: 3rem;
  outline: 10;
  font-weight: bolder;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.hero-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}

@media screen and (max-width: 1050px) {
  .hero {
    flex-direction: column;
  }

  .hero-content {
    margin: 0 0 2rem;
  }
}

@media screen and (max-width: 650px) {
  .hero h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .hero p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .hero h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .hero p {
    font-size: 14px;
    line-height: 24px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-top: 1rem;
  background: #ffe3bb;
}

.about-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 2rem 2rem;
  color: white;
}

.about-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 2rem 2rem;
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  margin-top: 20px; /* Adjust this value to control the vertical spacing */
}

.about-link {
  margin-right: 30px; /* Adjust this value to control the horizontal spacing */
  text-transform: uppercase;
}

.about-content h2 {
  font-size: 60px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  color: #fff;
  text-align: left;
  padding-bottom: 3rem;
}

.about-heading p {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  color: #fff;
  text-align: center;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  margin-top: 2rem;
}

@media screen and (max-width: 650px) {
  .about-services .about__services-container__services {
    flex-direction: column;
  }

  .about-services .about__services-container__services-text {
    margin-top: 0.5rem;
  }

  .about-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .about-heading p {
    font-size: 28px;
    line-height: 40px;
  }
  .about-rows {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  .about-services .about__services-container__services {
    margin: 1rem 0;
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  .about-rows {
    flex-direction: column;
    align-items: center;
  }

  .about-link {
    margin: 5px 0;
  }
}

/* Add the following styles to your existing CSS or create a new CSS file */

/* ... your existing styles ... */

.hero-content button {
  font-family: var(--font-family3);
  background-color: #96beff; /* Green background color */
  color: white; /* White text color */
  padding: 15px 32px; /* Padding around the text */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px; /* Margin between buttons */
  cursor: pointer;
  border: none; /* Remove button border */
  border-radius: 5px; /* Optional: Add some border-radius for rounded corners */
  font-weight: bolder;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.hero-content button:hover {
  background-color: #b4bdff; /* Darker green color on hover */
}
